body {
	background-image: url('../img/map.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'courier new'
}

h1 {
	background-image: url('../img/brush-stroke-banner-7.png');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	width: 100%;
}

p {
	color: black;
	font-weight: bold;
	background-color: white;
	padding: 8px;
	border-radius: 1px;
	font-size: 12px;
}

#main {
	width: 40%;
	margin-left: 27%;
	margin-top: 8%;
	border: 12px solid white;
	border-radius: 4px;
	padding: 5%;

}

#validationBlock {
	background-color: #ff6961;
	border-radius: 4px;
	width: 100%;
	padding: 10px;
}

input[type=text] {
	width: 98%;
	padding: 5px;
	border-radius: 1px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	color: black !important;
	font-family: 'courier new';
	height: 150%;
}

input[type=text]::placeholder {
	color: black;
}

input[type=submit] {
	width: 50%;
	padding: 5px;
	border-radius: 1px;
	float: right;
	margin-top:  25px;
	height: 51px;
	color: black !important;
	font-family: 'courier new';
	font-weight: bold;
	background-color: white;
}

.country img {
	width: 20px;
}

#percentOfWorld {
	margin-top: 25px;
	width: 45%;
	color: white;
	background-color: black;
	font-size: 16px;
}